


.brand,
.address-bar {
    display: none;
}

.navbar-brand {
   
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {

    font-weight: 200;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;

    background: #fff;
    background: rgba(255,255,255,0.9);
}

@media screen and (min-width:1000px) {
    .brand {
 
        display: inherit;
        padding: 10px 0 10px;
        
        color: #000;
        max-width: 990px;

        margin: 0 auto;
        max-height: 390px;
        background: #fff;
    }

    .top-divider {
        margin-top: 0;
    }
    
 
    .navbar {
   
        position: relative;

        margin:0 auto;
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
 
        min-height: 0;
    }

    .navbar-default {
       
        border: none;
       
 background-image:url(../images/iconandlogo/menu.jpg); 
    background-repeat:repeat-x;   
    background-position:top;
    }

    .nav>li>a {

        padding: 15px;
    }
    .navbar ul ul {
         letter-spacing: 1px;
          
             font-family: 'Proxima';
        font-weight: 400;
      
    display: none;
    }
    .navbar ul li:hover > ul {
        display: block;
    }
    .navbar-nav>li>a {
    font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 45px;
         letter-spacing: 1px;
    }
    .navbar-nav {
        display: table;
        float: center;
        margin: 0 auto;

        table-layout: fixed;

    }
}

@media screen and (min-width:1000px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}