body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 450px;
  background: none;
}
@media(max-width: 1920px) {

}
@media(max-width: 990px) {

}
.login{

  background: url("../images/main/login_back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;

}
.login h3{
  color: #fff;
  font-weight: 700;
  text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
}
.login form{
  width: 400px;
  padding-top:90px;
  max-width: 450px;
}
.login p{
  color: #fff;
  padding-top: 10px;
}
